body {
    background-color: beige;
    text-align: center;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#camera {
    border: 2px solid black;
    width: 350px;
    height: 300px;
}